.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  background: none;
  border: none;
  cursor: pointer;
}

.addIcon {
  color: #003f5c;
  font-size: 28px;
}
.addLodgingForm {
  display: none;
}

.Container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 5% 2% 0 2%;
}

.locationTitle {
  display: flex;
  margin: 0;
  font-size: 1.5rem;
}

.LodgeListContainer {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 1%;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.LodgeListContainer::-webkit-scrollbar {
  display: none;
}

