.albumContainer {
  display: flex;
  flex-direction: column;
  height: 10%;
  min-height:150px;
  margin: 20px 2% 0 2%;
}

.albumListTitle {
  display: flex;
  margin: 0;
  font-size: 1.5rem;
}

.albumList {
  display: flex;
  flex-direction: row;
  height: 8rem;
  margin: 1%;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  white-space: nowrap;
}

.albumList::-webkit-scrollbar {
  display: none;
}

.image {
  display: flex;
  border-radius: 6px;
  height: 100%;
  width: auto;
  margin-right: 1%;
}

.viewAll {
  display: flex;
  border: 5px solid #bc5090;
  background-color: #ff6361;
  color:white;
  font-weight: 600;
  border-radius: 6px;
  padding: 1em;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.addIcon {
  color: #003f5c;
  font-size: 28px;
}
.addPhotosForm {
  display: none;
}