.card {
  display: flex;
  flex-direction: column;
  margin-right: 1em;
  padding: 1rem;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: all .2s ease-in-out;
  min-width: 400px;
  min-height: 200px;
  cursor: pointer;
}

.card:hover,
.card:focus,
.card:active {
  transform: scale(1.015);
}

.heading {
  color: white;
  flex: 1;
}

.headingItem {
  margin: 5px 0px 5px 10px;
}

.footer{
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  color: white;
}

.inviteProfileImage{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.buttonsContainer{
  display: flex;
  flex-direction: column;
  margin-right: 0;
  margin-left: auto;
}

.button{
  margin: 5px;
  border-radius: 15px;
  background-color: #000;
  color: white;
  padding: 5px 15px;
  opacity: 75%;
  font-size: 15px;
  font-weight: bold;
}
