.profilePic {
  object-fit: cover;
  height: 4rem;
  width: auto;
}
.profilePicCont {
  display: flex;
  height: 4rem;
  margin: 5px;
  box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);
  border: 2px solid white;
  border-radius: 50%;
  aspect-ratio: 1.1;
  overflow: hidden;
  background-color: rgb(61, 61, 61);
}