.lodgingContainer {
  display: flex;
  flex-direction: row;
  padding: 10px;
  overflow: hidden;
  width: 300px;
  height: 140px;
  margin-right: 4%;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  border-radius: 6px;
  position: relative
}
.lodgeLink {
  position: absolute;
  display: flex;
  font-size: 12px;
  bottom: 15px;
}
.lodgingInfo {
  margin: 10px 0px 0px 10px;
  font-size: 15px;

}
.title {
  font-weight: 600;
}
.address {
  font-size: 12px;
}