.lodgingContainer {
  display: flex;
  padding: 10px;
  overflow: hidden;
  min-width: 270px;
  height: 140px;
  margin-right: 4%;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  border-radius: 6px;
  position: relative;
  border: 2px solid #ffd380;
}
.lodgeLink {
  position: absolute;
  bottom: 25px;
  right: 60px;
  display: flex;
  font-size: 12px;
  border: 3px solid #ff8531;
  border-radius: 6px;
  background-color: #ff6361;
  color:white;
  padding: 5px;

}
.lodgingInfo {
  margin: 12px 0px 0px 0px;
  font-size: 15px;
}
.title {
  font-weight: 600;
  font-size: larger;
  z-index: 100;
}
.address {
  font-size: 13px;
  z-index: 100;
}
.iconWrapper {
  font-size: 80px;
  align-self: flex-start;
  padding-top: 25px;
}
.cottageIcon {
  color:#2c4875;
  opacity: .6;
}
