.Container {
  display: flex;
  flex-direction: column;
  height: 30vh;
  margin: 5% 2% 0 2%;
}

.locationTitle {
  display: flex;
  margin: 0;
  font-size: 1.5rem;
}

.pinListContainer {
  display: flex;
  flex-direction: row;
  height: 90%;
  margin: 1%;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.pinListContainer::-webkit-scrollbar {
  display: none;
}



