.profile{
  display: flex;
  flex-direction: row;
}

.profileInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profileImgBox {
  display: flex;
  overflow: hidden;
  height: 150px;
  aspect-ratio: 1;
  margin: 1em;
  box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);
  border: 3px solid white;
  border-radius: 50%;
  justify-content: center;
  align-self: center;
}

.profileImage {
  object-fit: cover;
  flex: 1;
}

.profileText{
  border: 1px solid #00202e;
  margin: 5px;
  padding: 5px;
  font-size: large;
  font-family: inherit;
  border-radius: 5px;
}

.save{
  border: 0px;
  margin: 5px;
  padding: 5px;
  width: 60%;
  background-color: #00202e;
  color:white;
  border-radius: 5px;
  align-self: center;
  font-family: inherit;
  font-size: large;
  box-shadow: 0 10px 10px -5px rgba(0,0,0,0.5);

}
.save:hover {
  background-color: #8a508f;
}
.save:active {
  box-shadow: none;
}

@media screen and (max-width:750px) {
  .profileImage{
    height: 150px;
    width: auto;
  }
  .profileText{
    font-size: medium;
  }

}