.formCont {
  display: flex;
  flex-direction: column;
}

.formInputs {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.formContImage {
  height: 250px;
  width: 400px;
  background-color: rgb(240, 240, 240);
  border-radius: 8px;
  padding: 0px 25px 25px;
  margin-bottom: 25px;
}

.formInput {
  margin: 10px;
  padding: 10px;
  min-width: 300px;
  background-color: transparent;
  font-family: 'Manrope', sans-serif;
  border: 1px solid black;
  border-radius: 3px;
}

.formDate {
  text-align: right;
}

.formInput:before {
  color: rgb(145, 145, 145);
  font-family: 'Manrope', sans-serif;
  content: attr(placeholder) !important;
  margin-right: 0.5em;
}
.formInput:focus:before {
  content: '' !important;
}

.button,
.spinnerContainer {
  margin: 10px;
  padding: 10px;
  max-width: 200px;
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.spinnerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}