.pinDropContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90%;
  min-width: 250px;
  margin-right: 5%;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.pinImage {
  display: flex;
  height: 100%;
  max-width: 40%;
}

.pinInfo {
  display: flex;
  background-color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  height: 100%;
  width: 50%;
}