.main {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color:rgb(33, 33, 33);

}

.homeRight{
  display: flex;
  padding: 2em 4em 1em 6em;
  min-width: calc(50% - 1px);
}