.pageContainer {
  display: flex;
}

.homeContainer {
  display: flex;
  flex: 1;
  height: 100vh;
  overflow-y: scroll;
}

.tripContainer {
  margin: 20px;
  height: 100vh;
  flex: 1;
  overflow-y: scroll;
}

@media screen and (max-width: 750px) {
  div.homeContainer {
    display: none;
  }
  div.tripContainer {
    width: 96%;
  }
}