.timelineContainer {
  display: flex;
  flex-direction: column;
  margin: 5% 2% 0 2%;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
}

.timelineTitle {
  display: flex;
  margin: 0;
  font-size: 1.5rem;
}

.addIcon {
  display: flex;
  color: #003f5c;
  font-size: 28px;
}

.addIcon:active {
  color: #2c4875;
}

.button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.addEventForm {
  display: none;
}

.timelineDate {
  align-self: flex-start;
  color: white;
  padding: 0;
  margin: 0 0 0 5px;
  background-color: #ff6361;
  padding: 4px;
  border-radius: 2px;
}
